@font-face {
	font-family: Exo-Italic; 
	src: url(font/Exo-Italic.otf); 
}
body {
	background-image: url("background_image/background.jpg");
	font: 100% Exo-Italic;
	margin: 20px;  
	line-height: 40px;
}
header, nav, section, aside, footer {
    margin: 4px;
	border-radius: 6px;
	}
header, footer, main, .title, .submit, td, h1 {
	text-align: center;
}
header {
	border: 5px outset #d4d4d4; 
	background-color: #9999ff;
    color: #ffffff;
	padding: 15px;	
}
nav {
	background-color: #e6ff99;
	padding: 5px;
	width: 200px;
	float: left;	
}
section {
	background-color: #e6ff99;
	padding: 10px;
	padding-left: 20px; 
	margin-right: 250px;
	margin-left: 220px;	
	min-height: 700px;
}
aside {
	background-color: #e6ff99;  
	padding: 5px 10px;
	width: 200px; 
	bottom: auto;
	top: 0; 
	right: 0;	
	position: absolute;
}
footer {
	border: 5px outset #d4d4d4; 
	background-color: #9999ff;
	padding: 0px 10px;
	font-size: 150%;
	line-height: 14px;			
}
.informtable {
	width: 100%;
	background-color: #ccff66;
	border-style: none;
}
.accounttable {
    border-collapse: collapse;	
}

.accounttable td:last-child{
	background-color: #e6ff99;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
}
.accounttable th:last-child{
	background-color: #e6ff99;
	color: #008000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
}
.informtable tr:nth-child(even){
    background-color: #f2f2f2;
}
.informtable tr:hover{
    background-color: #e9e296;
}
.informtable thead tr{
	background-color: #334d00;
	color: #f2ffe6;
}
.payment {
	width: 50%;
}
.wrapper {
	position: relative;
	overflow: auto;
	xmin-width: 1000px;
}
.title {		    
	color: #ccff66;
}
.person {
	border-radius: 10px;
	background-color: #0066cc;
	color: #ffffcc;
	margin: 5px;
	padding-top: 5px;
}
.link {
	text-align: center;
}
#reglink {
	background-color: #f44336;
}

#tariffchoice {
	 padding-left: 10%;
	 display: inline-block;
}

.aside {
	padding: 2px 0px;
	margin: 10px 0px;
	border-radius: 10px;
	background-color: #009999;
}
.form {
	display: inline-block;
	padding-left: 5px;
	padding-bottom: 5px;
}
.form input {
	 width: auto;
}
.submit {
	border-style: none;
	padding-top: 10px;
	margin: auto;
}
.registration {
	padding: 0px;
    text-align: left;
    line-height: 12px;	
}
a:link, a:visited {
    background-color: green;
    color: white;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
}
a:hover, a:active {
    background-color: #004080;
}
.paragraph {
	padding: 0px 15px;
	text-align: justify;
    text-indent: 40px;
}
.errMessage{
	color: red;
}
caption {
	padding-bottom: 8px; 
	color: #663300; 
    font-weight: 900; 
}
#reg{
	margin: auto;
	width: 90%;
}
#regInputs td{
	padding: 10px 10px 30px 0px;
	text-align: left;
    vertical-align: center;	
}
#menu-local {
	display: flex;
	justify-content: flex-end;
}	
#menu-local table {
	border-radius: 5px;
	padding: 3px;
	background-color: #006699;
}
h2 {
	font-style: italic;  
	text-shadow: 4px 4px 4px rgba(237, 181, 113, 1);
	text-align: center;
}
footer > p {
    font-size: 120%;
	line-height: 1.5;
}
@media (max-width: 1200px) {
	#regInputs{
  		font-size: 80%;
	}     
}
@media (max-width: 1000px) {
	#tariff {
  		font-size: 60%;
	}
    #regInputs{
  		font-size: 60%;
	}    
	#reg{
	    width: 100%; 
    }    
}
@media (max-width: 800px) {
	aside {
  		width: auto;
        position: relative;
	}  
	section {
		margin-right: 0;
		padding: 10px 0px 0px 10px;
	}    
	#regInputs{
  		font-size: 65%;
	}
}
@media (max-width: 600px) {
	nav {
		width: auto;
		float: none;
	}
	section {
		margin: 4px;
	}
    #regInputs{
  		font-size: 70%;
	}    
}
@media (max-width: 450px) {
    #regInputs{
  		font-size: 60%;
	}    
}
@media (max-width: 300px) {
    #regInputs{
  		font-size: 20%;
	}
    #loginEnter, #passwordEnter, header {
		font-size: 80%;
	}    
}	
